*::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}

html{
	background-color: rgb(255,235,205);
}

.nev{
	display: flex;
	justify-content: space-around;
	padding: 20px;
	margin: 100px 100px;
	border: none;
	background-color: transparent;
	color: black;
	font-size:150px;
	font-family: Candara;
	text-align: center;	
}

.gomb1{
	display: flex;
	border-radius: 5px;
	margin: 20px;
	background-color: rgb(173 116 96);
	font-size: 45px;
	font-family: Candara;
	color: rgb(245,222,179);
	min-width: max-content;
	justify-content: space-around;
	text-decoration: none;
}

.gomb1:hover{
	cursor: pointer;
	background-color: rgb(136 56 45);
}

.gomb2_burkolo{
	display: flex;
	justify-content: space-around;
}

.gomb2{
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(173 116 96);
	color: rgb(245 213 188);
	font-size: 30px;
	font-family: Candara;
	font-weight: normal;
}

.gomb2:hover{
	cursor: pointer;
	background-color: rgb(136 56 45);
}

.oneletrajz{
	display: block;
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
	margin: 10px 0px;
}


.tablo{
	display: flex;
	float: right;
}

.b{
	display: flex;
	font-size: 20px;
	margin: 0px 20px 0px 0px;
}

div{
	border: 2px solid black;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
}

.keret_nelkul{
	border: 0px;
	text-align: center;
}

.paragrafus1, .paragrafus3{
	font-weight: normal;
	font-size: 16px;
	text-align: left;
	display: block;
}

.paragrafus4{
	font-weight: normal;
	font-size: 16px;
	margin: 0px;
	
}

.tervezes, .nehezsegek, .felhasznalt{
	display: block;
	font-size: 20px;
	font-weight: bolder;
}

.felhasznalt>p{
	font-weight: normal;
	font-size: 16px;
	text-align: left;
	display: block;
}

.kep_burkolo{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

img{
	height: 250px;
	margin: 30px;
}

a{
	text-decoration: none;
	color: blue;
}

